<section class="diary-section">
   
    <h1 class="section-year">
        <%= year %>
    </h1>
    <% posts.sort((l, r) => r.date - l.date) %>
    <% posts.forEach(post => { %>
    <!-- <% console.log(post.title); %> -->

    <article class="article-card">
        <h2 class="article-head">
            <a href="<%- url_for(post.path) %>"><%- post.title %></a>
        </h2>
        <p class="article-date"><%- date(post.date, "MM/DD/YYYY") %></p>

    </article>
    <% })%>

</section>